---
# Main scss file
---
@charset "utf-8";

@import
  'normalize',
  'solo',
  'syntax';

.content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    .announcement {
        display: inline-block;
        padding: 0.5rem;
    }
    .pic {
        padding: 0.5rem;
        blockquote {
            margin: 0;
        }
    }
}
