@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:700);

html {
    font: 16px/1.5 Inconsolata, sans-serif;
}
@media (min-width: 30rem) {
    html {
        font-size: 20px;
    }
}

html {
    body {
        background-color: #041226;
        color: #333;
        margin: 0.25rem 0.5rem;

        .container {
            .header {
                .title {
                    display: inline-block;
                }
                .socialmedia {
                    display: inline-block;
                    float: right;
                    a {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

a {
    color: #0074d9;
    /* From http://clrs.cc */
    text-decoration: none;
}

a:focus,
a:hover {
    color: #c7c7c7;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    /* align left edge */
    margin: 0;
    line-height: 1;
    color: #ffffff;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h1 a {
    color: inherit;
}

h2 a {
    color: inherit;
}
