@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:700);

html {
    font: 16px/1.5 Inconsolata, sans-serif;
}
@media (min-width: 30rem) {
    html {
        font-size: 20px;
    }
}

html {
    body {
        background-color: #ffffff;
        color: #333;
        margin: 0;

        .container {
            .header {
                background: #041200;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-end;

                .title {
                    order: 1;
                    margin-left: 0.25rem;
                }

                .socialmedia {
                    order: 2;
                    font-size: 0.6rem;
                    margin-bottom: 0.5rem;
                    display: flex;

                    a {
                        width: 2.75rem;
                        height: 2.75rem;
                        margin: 0.5rem;

                        div {
                            margin: auto;
                        }
                    }
                }
            }
            border-bottom: 3px solid #4a4545;
        }

        .content {
            display: flex;
            text-align: center;

            .left-col {
                order: 1;
                flex: 1;
            }

            .center-col {
                background-color: #25303e;
                order: 2;
                flex: 5;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .right-col {
                order: 3;
                flex: 1;
            }
        }
    }
}

a {
    color: #ffffff;
    /* From http://clrs.cc */
    text-decoration: none;
}

a:focus,
a:hover {
    color: #c7c7c7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, sans-serif;
    /* align left edge */
    margin: 0;
    line-height: 1;
    color: #ffffff;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

h1 a {
    color: inherit;
}

h2 a {
    color: inherit;
}