@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:700);

html {
    font: 16px/1.5 Inconsolata, sans-serif;
}
@media (min-width: 30rem) {
    html {
        font-size: 20px;
    }
}

html {
    body {
        background-color: #041226;
        color: #333;
        margin: 0;

        .container {
            .header {
                background: #041200 url("dummy_header.jpg") 50% 40%;
                background-size: cover;
                height: 175px;
                border-bottom: 1px solid #4a4545;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .title {
                    display: inline-block;
                    margin: 0.5rem;
                }

                .socialmedia {
                    display: inline-block;
                    float: right;
                    font-size: 0.6rem;
                    display: flex;

                    a {
                        display: inline-block;
                        width: 2.75rem;
                        height: 2.75rem;
                        margin: 0.5rem;

                        div {
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
}

a {
    color: #ffffff;
    /* From http://clrs.cc */
    text-decoration: none;
}

a:focus,
a:hover {
    color: #c7c7c7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, sans-serif;
    /* align left edge */
    margin: 0;
    line-height: 1;
    color: #ffffff;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h1 a {
    color: inherit;
}

h2 a {
    color: inherit;
}